html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e5e5;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

.root {
    position: relative;
    height: 568px;
    width: 320px;
}
