.u-t-center {
    text-align: center;
}

.u-o-8 {
    opacity: 0.8;
}

.u-o-6 {
    opacity: 0.6;
}

.u-o-5 {
    opacity: 0.5;
}

.u-o-4 {
    opacity: 0.4;
}

.u-o-1 {
    opacity: 0.1;
}

.u-c-dark {
    color: var(--color__text);
}

.u-c-light {
    color: var(--color__white);
}

.u-sb-40 {
    margin-bottom: var(--spacing--40px);
}

.u-sb-12 {
    margin-bottom: var(--spacing--12px);
}

.u-ab-center {
    margin-left: auto;
    margin-right: auto;
}

.u-d-block {
    display: block;
}

.u-c-cta {
    color: var(--color__cta);
}

.u-l-6 {
    position: relative;
    z-index: var(--level-6);
}
