.modal {
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 0;
    padding: 0 var(--spacing--40px);
    left: 0;
    right: 0;
    z-index: var(--level-5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal--open {
    opacity: 1;
    pointer-events: all;
}
