.button {
    width: auto;
    max-width: none;
    color: inherit;
    min-width: 0;
    background-color: transparent;
    outline: 0;
    border-width: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;

    & > * + * {
        padding-left: var(--spacing--4px);
    }
}

.button--block {
    width: 100%;
    display: flex;
}

.button--size-xxsmall {
    padding: var(--spacing--6px);
}

.button--size-small {
    padding: var(--spacing--12px);
}

.button--size-base {
    padding: var(--spacing--14px);
}

.button--size-xlarge {
    padding: var(--spacing--20px);
}

.button--ghost {
    opacity: 0.3;
    background-color: transparent;
}

.button--size-mixed {
    padding: var(--spacing--10px) var(--spacing--16px);
}

.button--primary {
    background-color: var(--color__white);
    color: var(--color__black);
}

.button--pill--small {
    border-radius: var(--border__radius--12px);
}

.button--secondary {
    border: 1px solid var(--color__white);
    background-color: transparent;
    color: var(--color__white);
    justify-content: flex-start;
}

.button--secondary--active {
    color: var(--color__text);
    background-color: var(--color__white);
}

.button--cta {
    background-color: var(--color__cta);
    color: var(--color__white);
}

.button--pill {
    border-radius: var(--border__radius--24px);
}

.button--square {
    border-radius: var(--border__radius--10px);
}

.button--rounded {
    border-radius: 100%;
}

.button--glow-cta {
    box-shadow: 0px var(--spacing--8px) var(--spacing--16px)
        var(--color__glow--cta);
}

.button--combined {
    width: 320px;
    margin-left: var(--spacing--n40px);
    margin-right: var(--spacing--n40px);
}

.button--top {
    border-radius: var(--border__radius--20px) var(--border__radius--20px) 0 0;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1);
}

.button--square-large {
    border-radius: var(--border__radius--12px);
}

.button--size-xxlarge {
    padding: var(--spacing--40px);

    & * + * {
        padding-left: var(--spacing--8px);
    }
}

.button--square-cta {
    color: var(--color__cta);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.button--square-primary {
    color: var(--color__white);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.letter {
    padding-right: var(--spacing--12px);
}
