.chat__message {
    position: relative;
    width: 236px;
    color: var(--color__text);
    padding: var(--spacing--12px) var(--spacing--16px);
    background-color: var(--color__white);
    border-radius: var(--border__radius--12px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing--28px);
}

.chat__message--animated {
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chat__message--bot {
    left: 0;
    animation-name: slideInLeft;
    transform: translate3d(-100%, 0, 0);
    animation-delay: 1s;
}

.chat__message--user {
    left: calc(100% - var(--spacing--28px));
    animation-name: slideInRight;
    transform: translate3d(28px, 0, 0);
    animation-delay: 2.5s;
}

.chat__wrapper {
    margin-left: -40px;
    margin-right: -40px;
    position: relative;
    overflow-x: hidden;
}
