.splashScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}

.splashScreen__logo {
    margin: 0 auto var(--spacing--16px);
}

.splashScreen__title {
    color: var(--color__text);
}
